<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="{{ url_for('dashboard.index') }}"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini" href="{{ url_for('dashboard.index') }}"><img src="{{ url_for('static', filename='images/logo-mini.svg') }}" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items {{ 'active' if request.endpoint == 'dashboard.index' else '' }}">
      <a class="nav-link" href="{{ url_for('dashboard.index') }}">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item menu-items {{ 'active' if request.endpoint in ('dashboard.simulator', 'dashboard.new_device', 'dashboard.edit_device') else '' }}">
      <a class="nav-link" href="{{ url_for('dashboard.simulator') }}">
        <span class="menu-icon">
          <i class="mdi mdi-laptop"></i>
        </span>
        <span class="menu-title">Device Simulator</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
    <li class="nav-item menu-items {{ 'active' if request.endpoint in ('dashboard.connections_list', 'dashboard.connection_new', 'dashboard.connection_edit', 'dashboard.connection_monitor_page') else '' }}">
      <a class="nav-link" href="{{ url_for('dashboard.connections_list') }}">
        <span class="menu-icon">
          <i class="mdi mdi-connection"></i>
        </span>
        <span class="menu-title">Connections</span>
        <i class="menu-arrow"></i>
      </a>
    </li>
  </ul>
</nav>
